dataset==1.6.2
filelock==3.17.0
Flask-Bootstrap==3.3.7.1
Flask-Migrate==4.0.7
Flask-WTF==1.2.2
pandas==2.2.3
pdfkit==1.0.0
pymobiledevice3==4.21.0
PyYAML==6.0.2
rsonlite==0.1.0
WTForms-Alchemy==0.19.0