{% macro render_field(field, class_to_use) %}
  <dt>{{ field.label }}</dt>
  <div class="col-auto">
    <dd>{{ field(class_=class_to_use, **kwargs)|safe }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_select(field, renderonyes) %}
<tr class="form-question">
    <th>{{field.label}}</th>
    <td>
        {% for option in field %}
        {% if option.label.text == "Yes" %}
        <label class="btn btn-light" {% if renderonyes %} onclick="$('#wrapper-{{renderonyes}}').show();" {% endif %}> 
            {{ option.label.text }}
            {{ option }}
        </label>
        {% elif option.label.text != "Nothing selected" %}
        <label class="btn btn-light">
            {{ option.label.text }}
            {{ option }}
        </label>
        {% endif %}
        {% endfor %}
    </td>
</tr>
{% endmacro %}

{% macro render_multiselect(field) %}
<tr class="form-question">
    <th>{{field.label}}</th>
    <td class="multiselect-box">{{field}}</td>
</tr>
{% endmacro %}

{% macro render_text_field(field, ishidden) %}
<tr class="form-question" id="wrapper-{{field.id}}" {% if ishidden %} style="display:none;" {% endif %}>
    <th>
        <div>
        {{ field.label }}
        </div>
    </th>
    <td> {{ field }}</td>
</tr>
{% endmacro %}