{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}

<script>
  function getScreenshot(buttonId) { // ButtonId is the context which the screenshot was taken
    var imageDiv = document.createElement('div');
    imageDiv.classList.add("form-screenshot");
    var loading = document.createElement('img')
    loading.src = "../webstatic/images/waiting.gif";
    imageDiv.innerHTML = loading.outerHTML
    document.getElementById(buttonId).parentNode.insertBefore(imageDiv, document.getElementById(buttonId).nextSibling);
    if (device === 'ios') {
        fetch('/privacy/ios/screenshot/' + buttonId)
        .then(response => response.text())
        .then(data => {
            imageDiv.innerHTML = data;
            document.getElementById(buttonId).parentNode.insertBefore(imageDiv, document.getElementById(buttonId).nextSibling);
        })
        .catch(error => {
            imageDiv.innerHTML = "Error loading screenshot: " + error;
        });
    } else if (device === 'android') {
        fetch('/privacy/android/screenshot/' + buttonId)
        .then(response => response.text())
        .then(data => {
            //loading.remove();
            imageDiv.innerHTML = data;
            document.getElementById(buttonId).parentNode.insertBefore(imageDiv, document.getElementById(buttonId).nextSibling);
        });

    }
}
</script>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>
            <h2>{{ form.title }}</h2>
            <hr>
            <form action method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}


            {% if step == 1 %}

                <table id="scan-form">
                    <tbody>
                        <tr><th><label>{{ form.device_nickname.label }}</label></th><td> {{ form.device_nickname }}</td> </tr>
                        <tr><th><label>{{form.device_type.label}}</label></th><td>
                            <div class="btn-group" data-toggle="buttons" id={{form.device_type.id}}>
                            {% for option in form.device_type %}
                            <label class="btn btn-secondary" for="{{option.id}}">
                                {{option.label.text}}
                                <input type="radio" name={{option.name}} id={{option.id}} autocomplete="off" value={{option.label.text.lower()}}>
                                <span class="glyphicon glyphicon-ok"></span>
                            </label>
                            {% endfor %}
                            </div>
                        </td></tr>
                    </tbody>
                </table>
                <br>

            {% elif step == 2 %}

            <h4>App List</h4>
            <table>
                <tbody>
                    {% for nested in form.apps %}
                    {{ nested.hidden_tag() }}
                    <tr>
                        <th><p>{{scan_data.all_apps[loop.index0].title}}</p></th>
                        <td><p>{{nested.selected.label}}</p></td>
                        <td><p>{{nested.selected}}</p></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>


            {% else %}


            <b>{{scan_data.check_apps}}</b>


         
            <table id="scan-form">
                <tbody>
                    <tr><th><label>{{ form.device_nickname.label }}</label></th><td> {{ form.device_nickname }}</td> </tr>
                    <tr><th><label>{{form.device_type.label}}</label></th><td>
                        <div class="btn-group" data-toggle="buttons" id={{form.device_type.id}}>
                        {% for option in form.device_type %}
                        <label class="btn btn-secondary" for="{{option.id}}">
                            {{option.label.text}}
                            <input type="radio" name={{option.name}} id={{option.id}} autocomplete="off" value={{option.label.text.lower()}}>
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        {% endfor %}
                        </div>
                    </td></tr>
                </tbody>
            </table>
            <br>



            {% endif %}

                <br>
                <br>
                <div><span class="primarybutton">{{form.submit}}</span></div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
