{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 offset-md-0">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>
            <h2>Screenshots</h2>
            <hr>

            <form action method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form) }}

            <div class="scroll-screenshots"> {# Class = scroll apps? #}

            <h3>Device Jailbreak Screenshots</h3>
            {% if form.root_screenshots|length > 0 %}
            <table class="screenshots">
                <tbody>
                    {% for subform in form.root_screenshots %}
                    {% set screenshot = rooted_screenshot_info[loop.index0] %}
                        {{ subform.hidden_tag() }}
                        <tr>
                            <th class="screenshot-delete">{{subform.delete}} {{subform.delete.label}}</th>
                            <th><img height='200px' src="{{url_root}}{{screenshot.fname}}"/></th>
                            <td>
                                <ul>
                                    <li><i>Device nickname:</i> {{screenshot.device_nickname}}</li>
                                    <li><i>Device serial:</i> {{screenshot.device_serial}}</li>
                                    <li><i>Filename:</i> {{screenshot.fname}}</li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No screenshots captured.</div>
            <br/>
            {% endif %}

            <h3>App Investigation Screenshots</h3>
            {% if form.app_screenshots|length > 0 %}
            <table class="screenshots">
                <tbody>
                    {% for subform in form.app_screenshots %}
                    {% set app = app_screenshot_info[loop.index0] %}
                        {{ subform.hidden_tag() }}
                        <tr>
                            <th class="screenshot-delete">{{subform.delete}} {{subform.delete.label}}</th>
                            <th><img height='200px' src="{{url_root}}{{app.fname}}"/></th>
                            <td>
                                <ul>
                                    <li><i>App ID:</i> {{app.app_id}}</li>
                                    <li><i>App name:</i> {{app.app_name}}</li>
                                    <li><i>Device nickname:</i> {{app.device_nickname}}</li>
                                    <li><i>Device serial:</i> {{app.device_serial}}</li>
                                    <li><i>Filename:</i> {{app.fname}}</li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No screenshots captured.</div>
            <br/>
            {% endif %}

            <h3>Account Investigation Screenshots</h3>
            {% if form.acct_screenshots|length > 0 %}
            <table class="screenshots">
                <tbody>
                    {% for subform in form.acct_screenshots %}
                        {% set acct = account_screenshot_info[loop.index0] %}
                            {{ subform.hidden_tag() }}
                            <tr>
                                <th>{{subform.delete}} {{subform.delete.label}}</th>
                                <th><img height='200px' src="{{url_root}}{{acct.fname}}"/></th>
                                <td>
                                    <ul>
                                        <li><i>Account nickname:</i> {{acct.account_nickname}}</li>
                                        <li><i>Section:</i> {{acct.section}}</li>
                                        <li><i>Filename:</i> {{acct.fname}}</li>
                                    </ul>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No screenshots captured.</div>
            <br/>
            {% endif %}

            </div>
            <br/>
            <br/>
            <div><span class="primarybutton">{{form.submit}}</span></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}